@font-face {
  font-family: "Roboto";
  src: url("./assets/Roboto-Regular.ttf") format("ttf"),
    url("./assets/Roboto-Black.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  height: 100vh;
}

.title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  /* background: url("./images/forest.jpg"); */
}

img {
  background-position: center;
}

.hello {
  color: red;
}

header {
  outline: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

nav ul {
  display: flex;
  gap: 1rem;
}

/* #home-container {
  color: white;
  background: url(./images/forest.jpg);
  outline: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
} */

#home-container {
  color: black;
  outline: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
}

.menu-item {
  padding: 1.2rem;
  width: 50%;
  margin: auto;
}

.menu-item > div {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
