@font-face {
  font-family: "Roboto";
  src: url("./assets/Roboto-Regular.ttf") format("ttf"),
    url("./assets/Roboto-Black.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  background: url("./images/forest.jpg");
}
